@charset "UTF-8";


body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    background-color: black;
    color: yellow;
}

h2 {
    color: darkred;
    background-color: lightblue;
}

p {
    text-align: justify;
}

a {
    text-align: 20px;
}
